<a href="https://colab.research.google.com/github/nityanandkore/Colab_Portifolio/blob/master/Colab_Protfolio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

INGEST

In [2]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/noahgift/porfolio/master/10kflightdata.csv")

df.head()

   2008  1  23  3    2110  2115  ...  0.1  0.2  0.3  51.1  0.4   0.5
0  2008  2  21  4  1730.0  1656  ...    0  0.0  0.0   0.0  0.0  41.0
1  2008  1  19  6  1154.0  1155  ...    0  NaN  NaN   NaN  NaN   NaN
2  2008  1  25  5  1340.0  1345  ...    0  NaN  NaN   NaN  NaN   NaN
3  2008  2   8  5  1106.0   945  ...    0  0.0  0.0   0.0  0.0  70.0
4  2008  1  20  7  1649.0  1650  ...    0  NaN  NaN   NaN  NaN   NaN

[5 rows x 29 columns]

EDA