<a href="https://colab.research.google.com/github/nityanandkore/Colab_Portifolio/blob/master/Colab_Protfolio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

INGEST

In [3]:
columns = []
var = "Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay"
for items in var.split(","):
    columns.append(items)
columns

['Year',
 'Month',
 'DayofMonth',
 'DayOfWeek',
 'DepTime',
 'CRSDepTime',
 'ArrTime',
 'CRSArrTime',
 'UniqueCarrier',
 'FlightNum',
 'TailNum',
 'ActualElapsedTime',
 'CRSElapsedTime',
 'AirTime',
 'ArrDelay',
 'DepDelay',
 'Origin',
 'Dest',
 'Distance',
 'TaxiIn',
 'TaxiOut',
 'Cancelled',
 'CancellationCode',
 'Diverted',
 'CarrierDelay',
 'WeatherDelay',
 'NASDelay',
 'SecurityDelay',
 'LateAircraftDelay']

In [4]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/noahgift/porfolio/master/10kflightdata.csv")

df.columns = columns

df.head()

   Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
0  2008      2          21  ...       0.0            0.0               41.0
1  2008      1          19  ...       NaN            NaN                NaN
2  2008      1          25  ...       NaN            NaN                NaN
3  2008      2           8  ...       0.0            0.0               70.0
4  2008      1          20  ...       NaN            NaN                NaN

[5 rows x 29 columns]

EDA